* {
    margin: 0;
    padding: 0;
    font-family: 'Annie Use Your Telescope', cursive;
    font-weight: 600;
}

body {
    text-align: center;
    height: 500%;
}

html{
    scroll-behavior: smooth;
}

.heading {
    font-size: 50px;
    color: black;
    text-align: center;
}

.download {
    width: 30%;
    text-align: center;
    border-radius: 0 30px 0 30px;
    border: 2px solid black;
}

.head1 {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.para1 {
    max-width: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
}